body {
    background: #FFD9DA;
    margin: 10px 300px 10px 300px;
}

@font-face {
    font-family: myFont;
    src: url(Roboto-Regular.ttf);
}

#main {
    background: #FFD9DA;
    font-family: myFont;
    color: #1c77c3;
}

#mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont;
    font-size: 800;
    text-transform: uppercase;
    letter-spacing: 1.2em;
    word-spacing: 1em;
    background-color: #FFD9DA;
    color: black;
}

#mainNav {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: black;
    line-height: 2;
}


#navMenu ul {
    padding: 20px;
    list-style: none;
    font-size: 30px;
}

#mainAside {
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
    color: #d62828;
}

#mainAside ul {
    list-style: none;
    padding-right: 30px;
    text-align: center;
}

#textHeader {
    font-size: 40px;
}

#mainParagraph {
    padding: 30px;
    font-size: 20px;
}

#images {
    display: flex;
    justify-content: space-between;
}

#mainFooter {
    display: flex;
    font-family: myFont;
    text-transform: uppercase;
    justify-content: space-between;
    justify-content: center;
    background: #FFD9DA;
    color: rgb(180, 177, 177);
}

#asideImage {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

#colorBrighter {
    color: #f1046f;
}

#colorBetter {
    color: #ca054d;
}